  <script id="footer" type="text/html">
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Misc</strong> by <a href="https://www.linkedin.com/in/stanislau-fink/">Stanislau Fink</a>
          </p>
        </div>
      </div>
    </footer>
  </script>
